@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
height:5px;
border-radius:5px;
background:#ddd;
position:relative
}

.slider .progress{
height:5px;
left:25%;
right:25%;
position:absolute;
border-radius:5px;
background:#17A2BB;
}

.range-input {
position:relative;
}

.range-input input{
position:absolute;
top:-5px;
height:5px;
width:100%;
background:none;
-webkit-appearance:none;
pointer-events:none
}

input[type="range"]::-webkit-slider-thumb{
height:17px;
width:17px;
border-radius:50%;
pointer-events:auto;
-webkit-appearance:none;
background:#17A2BB;
}

{
	/*
	 

#startRange {
  overflow: hidden;
  height:10px;
      
      -webkit-appearance: none;
      background-color: blue;
      position:relative
}

#startRange::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: black;
}


    #startRange::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: black;
      box-shadow: -80px 0 0 80px white;
    }

    #endRange {
  overflow: hidden;
  height:10px;
      -webkit-appearance: none;
      background-color: white;
}

#endRange::-webkit-slider-runnable-track {
height: 100%;
      -webkit-appearance: none;
      color: black;
}


    #endRange::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: black;
      box-shadow: -80px 0 0 80px blue;
    }
	 */
}
